

.containerDog h5{
    margin-top: 2rem;
}

.buttonHome button{

    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
    margin-top: 2rem;
}

.container .buttonIngresar{
    background-color: black;
    color: white;
    margin-top: 2px;
    height: 3rem;
}

